<html>
    <head>
        <title>Django Girls puk puk blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>

            {% if post.category == '' %}
                <div> No category </div>
            {% else %}
                <div> Category: {{ post.category }} </div>
            {% endif %}

            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>
